.linear {
  width: 80%;
  margin: 10px auto;
  .results {
    width: 100%;
    border: 4px solid #00fa2a;
    border-radius: 8px;

    .output {
      margin: 5px auto;
      background-color: #fff;
      color: #000000;
      border-radius: 4px;
      text-align: center;
      padding: 2px;
      border: 1px solid;
      min-width: 100px;
      height: 20px;
      width: max-content;
    }
    .values {
      margin: 5px auto;
      width: max-content;
      padding: 3px;
    }
  }

  .form {
    width: 100%;
    margin: 8px;
    .fields {
      display: flex;
      justify-content: center;
      input {
        text-align: center;
        margin: 0 4px;
        border-radius: 8px;
        border: none;
      }
      button {
        width: 10%;
        padding: 5px;
        margin: 4px;
        border-radius: 3px;
        border: none;
        background-color: #a39e92;
        font-size: 18px;
        &:hover {
          cursor: pointer;
          background-color: #a0541d;
        }
      }
    }
  }
  .code-snippet {
    background-color: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 18px;
    pre {
      h2 {
        color: #a0541d;
        margin: 0 30px;
      }
    }
  }
}
