.recursion {
  text-align: start;
  .buttons {
    margin: 10px auto;
    width: max-content;
    button {
      margin: 4px;
      border-radius: 3px;
      background-color: #20aa1b;
      font-size: 13px;
      &:hover {
        cursor: pointer;
        background-color: #a0541d;
      }
    }
  }
  .results {
    width: 100%;
    .output {
      margin: 5px auto;
      background-color: #a0541d;
      border-radius: 4px;
      text-align: center;
      padding: 2px;
      border: 1px solid;
      min-width: 100px;
      height: 20px;
      width: max-content;
    }
    .values {
      margin: 5px auto;
      width: max-content;
      padding: 3px;
    }
  }

  .code-snippet {
    background-color: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 18px;
    pre {
      h2 {
        color: #a0541d;
        margin: 0 30px;
      }
    }
  }
}
